body {
    padding-top: 50px;
}

textarea {
    resize: none;
}

.CodeMirror { border: 1px solid silver; }
.CodeMirror pre.CodeMirror-placeholder { color: #999; }

#graph {
    height: 600px;
    top: 0px;
    left: 0px;
    margin-bottom: 10px;
    font: 14px helvetica neue, helvetica, arial, sans-serif;
}